body {
    background-color: #8ac5e5;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
    #img-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        margin: 2rem 0;
        width: 100%;
    }
}

h1, h2, h4, h5 {
    justify-content: center;
    text-align: center;
    margin: 0.75rem 0;
}

ul {
    margin: 1rem 0;
    padding-left: 2rem;
}

img {
    max-width: 275px;
    max-height: 275px;

}

* {
    padding: 0;
    margin: 0;
    background-color: #8ac5e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: #8ac5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode * {
    background-color: #333;
    color: #fff;
}

#img-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 2rem 0;
  width: 100%;
}

#img-container img {
    margin: 0.1rem;
}

#coat-colors {
    justify-content: center;
    display: table;
    
}

#coat-colors img {
    max-width: 175px;
    max-height: 175px;
    justify-content: center;
    margin: 0.5rem 0.2rem;
}

#color-desc {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0.1rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 2rem;
}

p {
    margin: 1rem 12rem;
}

/* slider css */
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 